<ion-header no-border no-margin>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Fase de Grupos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
	<br>
  <div no-padding no-margin>
    <ion-list *ngFor="let allGroup of puestosTodosGrupos">
      <h4 ion-text text-center color="primary">
        {{allGroup['name']}}
      </h4>
      <ion-grid>
        <ion-row>
          <ion-col col-9 class="header" text-center></ion-col>
          <ion-col col-8 class="header" text-center>Partidos</ion-col>
          <ion-col col-5 class="header" text-center>Goles</ion-col>
          <ion-col col-2 class="header" text-center></ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-9 class="header" text-center>Equipos</ion-col>
          <ion-col col-2 class="header" text-center>J</ion-col>
          <ion-col col-2 class="header" text-center>G</ion-col>
          <ion-col col-2 class="header" text-center>E</ion-col>
          <ion-col col-2 class="header" text-center>P</ion-col>
          <ion-col col-5 class="header" text-center>F:C D</ion-col>
          <ion-col col-2 class="header" text-center>P</ion-col>
        </ion-row>
        <ion-row *ngFor="let puestos of allGroup.standings.data">
          <ion-col col-9>{{puestos.team_name}}</ion-col>
          <ion-col col-2 text-center>{{puestos.overall.games_played}}</ion-col>
          <ion-col col-2 text-center>{{puestos.overall.won}}</ion-col>
          <ion-col col-2 text-center>{{puestos.overall.draw}}</ion-col>
          <ion-col col-2 text-center>{{puestos.overall.lost}}</ion-col>
          <ion-col col-5 text-center>
            {{puestos.overall.goals_scored + ':' + puestos.overall.goals_against + ' ' + puestos.total.goal_difference}}
          </ion-col>
          <ion-col col-2 text-center>{{puestos.total.points}}</ion-col>
        </ion-row>
      </ion-grid>
      <br>
    </ion-list>
  </div>
  <br><br>
</ion-content>
