page-grupos {
  .header {
    background-color: #dec180;
  }

  .col {
    border: solid 1px #6c0601;
    border-bottom-style: none;
    border-right-style: none;
  }

  .col:last-child {
    border-right: solid 1px #6c0601;
  }

  .row:last-child .col {
    border-bottom: solid 1px #6c0601;
  }
}
