page-iniciar-sesion {
  .background {
    background: url("../assets/imgs/worldcup-login.png") no-repeat fixed center;
    -webkit-background-size: cover;
    background-size: cover;
    background-color: #6c0601;
  }

}
